<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>beeHealth</title>
    <link href="{{ url_for('static', filename='css/dataCSS.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='picture/ouluLogo.jpeg') }}" alt="University of Oulu logo">
                <img src="{{ url_for('static', filename='picture/logo.jpg') }}" alt="beeHealth logo">
            </div>
            <a class="mainLink" href="beeHealth_main.html">beeHealth</a>
            <div class="test">
                <a class="link" href="beeHealth_data.html">Data</a>
                <a class="link" href="beeHealth_about.html">About</a>
                <a class="link" href="beeHealth_contact.html">Contact</a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="soundTable">
                <p>Sound</p>
                <p>Time</p>
                <p>Location</p>
                <p>Analysis</p>
            </div>
        </section>
        <!-- Generate a section for each sound table -->
        {% for table in sound_tables %}
        <section>
            <div class="soundTable">
                <audio controls>
                    <!-- Update the source URL to point to the correct audio file -->
                    <source src="{{ url_for('static', filename='uploads/' + table.time + '/'+table.time +'_beeSound.wav') }}" type="audio/wav">
                </audio>
                <p>{{ table.time }}</p>
                <p>{{ table.location }}</p>
                <div class="analysis">
                    <!-- Update the link URL to point to the correct analysis HTML file -->
                    <a href="{{ url_for('beeHealth_analysis', folder_name=table.time + '.html') }}">Click here</a>
                </div>
            </div>
        </section>
        {% endfor %}
    </main>

    <footer>

    </footer>
</body>
</html>
