<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>beeHealth</title>
        <link href="mainCSS.css" rel="stylesheet">
    </head>

    <header>
        <p>beeHealth website</p>
    </header>

    <div class="nav">
        <a class ="navBar" href="beeHealth_history.html">History</a>
        <a class ="navBar" href="beeHealth_about.html">About</a>
        <a class ="navBar" href="beeHealth_contact.html">Contact</a>
    </div>

    <main>
        <section>
            <p>beeHealth is a website about bees and their health</p>
            <p>List of the last soud</p>
        </section>
    </main>

    <footer>
        <p>beeHealth Footer</p>    
    </footer>
</html>