<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>beeHealth</title>
    <link href="{{ url_for('static', filename='css/beeHealth_main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='picture/ouluLogo.jpeg') }}" alt="University of Oulu logo">
                <img src="{{ url_for('static', filename='picture/logo.jpg') }}" alt="beeHealth logo">
            </div>
            <a class="mainLink" href="beeHealth_main.html">beeHealth</a>
            <div class = "test">
                <a class="link" href="beeHealth_data.html">Data</a>
                <a class="link" href="beeHealth_about.html">About</a>
                <a class="link" href="beeHealth_contact.html">Contact</a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="introduction">
                <h1>The project</h1>
                <p><strong>BeeHealth</strong> is a project to gather information about the health of bees through sound analysis.</p>
                <p>To achieve this, we use analog microphones connected to an esp32. The data is then sent to a Flask server for analysis.</p>
                <p>The server utilizes machine learning techniques, including the Fast Fourier Transform (FFT), to analyze the sound data.</p>
                <p>Additionally, we may employ other tools to extract further insights from the sound.</p>
                <p>The results will be stored in a database and displayed on a dedicated website.</p>
                <div class="endIntroduction"> <strong> BeaHealth team &#128521;</strong></div>
            </div>
            
            <div class="introductionPicture">
                <img src="{{ url_for('static', filename='picture/beeHive.jpg') }}"alt="beeHive">
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>
