header{
    background-color: bisque;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo{
    max-width: 200px; /* Adjust the maximum width as per your requirement */
    max-height: 100px; /* Adjust the maximum height as per your requirement */
    display: inline-block;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: bisque;
    text-align: center;
}

.navBar{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
}

.navBar:hover{
    background-color: black;
    color: white;
}

main{
    background-color: bisque;
    text-align: center;
}

footer{
    background-color: bisque;
    text-align: center;
}
